form{
    display:flex;
    flex-direction:column;
    border:1px solid black;
    padding: 30px;
    background-color:blueviolet;
}

.container{
    width:100vw;
    height:80vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.labels, p, button{
    margin:10px;
}

label{
    font-size: 20px;
}

p{
    color:white;
    font-size: 20px;
    font-weight: 200;
}

#convert, #swap{
    height:2rem;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid black;
}

#swap{
    width:5rem;
    position:relative;
    left:170px;
    background-color: rgb(79, 255, 179);
    
}

#from{
    position:relative;
    left:50px;
    height:1.8rem;
    border-radius: 5px;
    border: 2px solid black;
}

#to{
    position:relative;
    left:72px;
    height:1.8rem;
    border-radius: 5px;
    border: 2px solid black;
}

#amount{
    position:relative;
    left:27px;
    height:1.8rem;
    border-radius: 5px;
    border: 2px solid black;
}